// Text styles for labels
$ct-text-color: inherit;
$ct-text-size: inherit;
$ct-text-line-height: inherit;

// Grid styles
$ct-grid-color: rgba(142, 142, 142, 0.15);
$ct-grid-dasharray: 0px;
$ct-grid-width: 0.5px;

// Line chart properties
$ct-line-width: 3px;

// Bar chart bar width
$ct-bar-width: 10px;

