@import "storytelling-ui-kit/colors";

// Text styles for labels
$ct-text-color: inherit;
$ct-text-size: inherit;
$ct-text-line-height: inherit;

// Grid styles
$ct-grid-color: rgba(142, 142, 142, 0.15);
$ct-grid-dasharray: 0px;
$ct-grid-width: 0.5px;

// Line chart properties
$ct-line-width: 3px;

// Bar chart bar width
$ct-bar-width: 10px;

// Series names and colors. This can be extended or customized as desired. Just add more series and colors.
$ct-series-names: (a, b, c, d, e, f);
$ct-series-colors: (
  $color-nzz-smaltblue,
  $color-nzz-hokeypokey,
  $color-nzz-fruitsalad,
  $color-nzz-kelp,
  $color-nzz-magenta,
  $color-nzz-mojo
);
