@import "fonts";
@import "colors";

$break-small: 414px;
$break-large: 768px;

.q-chart__chartist-container {
  margin: 14px 0 0 0;
}

.ct-grids, line.ct-bar{
 shape-rendering: crispEdges;
}

.ct-chart-bar, .ct-chart-line {
  @include font-labeling("small");
  @media screen and (min-width: ($break-small)) {
  	@include font-labeling("large");
  }
}

// special styles for horz bar
.ct-horizontal-bars {
  // vertical labels centering
  .ct-label.ct-vertical {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  // horz labels centering
  .ct-label.ct-horizontal {
    text-align: center;
    display: inline-block;
    transform: translate(-10%, 0);
  }
}

// special styles for line chart
.ct-chart-line {
  .ct-label.ct-horizontal {
    position: relative;
    text-align: center;
    display: inline-block;
    min-width: 50px;
    transform: translate(-50%, 0);
  }
  .ct-label.ct-horizontal-first {
    transform: translate(0, 0);
  }
  .ct-label.ct-vertical {
    text-align: right;
    transform: translate(0, 12%);
  }
}

// special styles for bar chart
.ct-chart-bar {
  .ct-label.ct-vertical {
    text-align: right;
    transform: translate(0, 17%);
  }
}

// line chart baseline
.ct-vertical-first {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}
.ct-horizontal-bars .ct-horizontal-first {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}

