@import "fonts";
@import "colors";

$break-small: 414px;
$break-large: 768px;

.ct-grids, line.ct-bar{
 shape-rendering: crispEdges;
}

.ct-chart-bar, .ct-chart-line {
  @include font-labeling("small");
  @media screen and (min-width: ($break-small)) {
  	@include font-labeling("large");
  }
}


// label placement

// generic label placement on vertical axis, gets overwritten
.ct-label.ct-vertical {
  text-align: right;
  transform: translate(0, 16%);
}

// horz bar chart
.ct-chart-bar.ct-horizontal-bars {
  .ct-label.ct-horizontal {
    display: inline-block;
    min-width: 30px;
    transform: translate(-12%, 0);
  }
  .ct-label.ct-vertical{
    transform: translate(0, 0);
  }
}

// line chart
.ct-chart-line {
  .ct-label.ct-horizontal {
    text-align: center;
    display: inline-block;
    min-width: 50px;
    transform: translate(-50%, 0);
  }
}

// intend bzw. unindent first label
.ct-label.ct-horizontal-first {
  transform: translate(0, 0);
}

// solid chart baseline
.ct-chart-bar .ct-vertical-first {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}

.ct-chart-line .ct-vertical-first {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}

.ct-horizontal-bars .ct-horizontal-first {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}

