@import "storytelling-ui-kit/colors";

// Text styles for labels
$ct-text-color: inherit;
$ct-text-size: inherit;
$ct-text-line-height: inherit;

// Grid styles
$ct-grid-color: rgba(0, 0, 0, 0.05);
$ct-grid-dasharray: 0px;
$ct-grid-width: 1px;

// Line chart properties
$ct-line-width: 2px;

// Bar chart bar width
$ct-bar-width: 10px;

// Series names and colors. This can be extended or customized as desired. Just add more series and colors.
$ct-series-names: (a, b, c, d, e, f);
$ct-series-colors: (
  $color-nzz-blue,
  $color-nzz-ochre,
  $color-nzz-green,
  $color-nzz-brown,
  $color-nzz-magenta,
  $color-nzz-red
);
