// --- COLORS
$primary-color: #333;           //for headline, description and relevant elements of chart, inherited from nzz.ch
$secondary-color: #787878;      //for less important info like notes
$grid-color: #8E8E8E;           //light grey for grid in …_settings.scss
$link-color: #0092cc;           //nzz link color, inherited from nzz.ch
