<div
  class="s-font-note"
  style="margin: 15px -4px; display: flex; flex-wrap: wrap;"
>
  {%- for event in events.data %}
  <div class="q-chart q-chart-events">
    {% set radius = events.config.radius %}
    <svg width="{{ 2 * radius + 2 }}" height="{{ 2 * radius + 2 }}" style="vertical-align: sub;">
      <g transform="translate({{ radius + 1 }}, {{ radius + 1 }})">
        <path
          d="M{{ radius }},0A{{ radius }},{{ radius }},0,1,1,-{{ radius }},0A{{ radius }},{{ radius }},0,1,1,{{ radius }},0"
          style="fill: none; stroke: currentColor; stroke-width: 1;"
        ></path>
        <text
          y="4"
          text-anchor="middle"
          style="font-size: {{ events.config.fontSize }}px; font-weight: {{ events.config.fontWeight }}; fill: currentColor;"
        >
          {{ loop.index }}
        </text>
      </g>
    </svg>
    <span class="q-chart q-chart-events__label">{{ event.label }}</span>
  </div style="margin: 0 4px;">
  {%- endfor %}
</div>
