<div
  class="s-font-note"
  style="margin: 15px -4px; display: flex; flex-wrap: wrap;"
>
  {%- for event in events.data %}
  <div class="q-chart-events" style="margin-right: 4px; margin-left: 4px;"
  >
    {% set radius = events.config.radius %}
    <div class="q-chart-events__icon">
      <svg width="{{ 2 * radius + 2 }}" height="{{ 2 * radius + 2 }}">
        <g transform="translate({{ radius + 1 }}, {{ radius + 1 }})">
          <circle
            r="{{ radius }}"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
          />
          <text
            y="4"
            text-anchor="middle"
            style="font-size: {{ events.config.fontSize }}px; font-weight: {{ events.config.fontWeight }}; fill: currentColor;"
          >
            {{ loop.index }}
          </text>
        </g>
      </svg>
    </div>
    <div class="q-chart-events__label">{{ event.label }}</div>
  </div>
  {%- endfor %}
</div>
