<div
  class="s-font-note s-q-item__legend-annotations"
>
  {%- for event in events.data %}
  <div class="s-q-item__legend-annotation">
    {% set radius = events.config.radius %}
    {% set xy = "50%" %}
    <div class="s-q-item__legend-annotation__icon">
      <svg width="1.4em" height="1.4em">
        <g class="s-font-note-s">
          <circle
            r="{{ radius }}"
            cx="{{xy}}"
            cy="{{xy}}"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
          />
          <text
            y="0.35em"
            dx="{{xy}}"
            dy="{{xy}}"
            fill="currentColor"
            font-weight=700
            text-anchor="middle"
          >
            {{ loop.index }}
          </text>
        </g>
      </svg>
    </div>
    <div class="s-q-item__legend-annotation__label">{{ event.label }}</div>
  </div>
  {%- endfor %}
</div>
