<div class="s-q-item q-chart" style="opacity: 0;">
  {{#if displayOptions.hideTitle !== true}}<h3 class="s-q-item__title">{{item.title}}</h3>{{/if}}
  {{#if item.subtitle && item.subtitle !== ''}}
  <div class="q-chart__subtitle s-font-note">{{item.subtitle}}</div>
  {{/if}}
  
  <div class="q-chart-container" id="{{ id }}"></div>
  <div class="s-q-item__footer">
    {{#if item.notes}}
      <span>{{item.notes}}&nbsp;&ndash;&nbsp;</span>
    {{/if}}
    {{#if shouldHaveSources}}
      {{#if item.sources.length > 1}}
        Quellen:
      {{else}}
        Quelle:
      {{/if}}
      {{#each item.sources as source, index}}
        <!-- 	If you separate DOM siblings with newlines whitespaces cannot be removed by svelte renderer
              To avoid unwanted whitespaces around commas separating each source, we keep render infos for sources at one line here.
              See also: https://github.com/sveltejs/svelte/issues/189  -->
        {{#if source.text !== ''}}{{#if source.link && source.link.isValid}}<a href="{{source.link.url}}" target="blank" rel="noopener noreferrer">{{source.text}}</a>{{else}}{{source.text}}{{/if}}{{#if index !== item.sources.length - 1 && item.sources[index + 1] !== ''}}, {{/if}}{{/if}} 
      {{/each}}
    {{else}}
      Quelle: nicht angegeben
    {{/if}}
  </div>
</div>
<script>
export default {
  computed: {
    shouldHaveSources: (item) => {
      return item.sources !== undefined && item.sources.length > 0; 
    }
  }
}
</script>
