<div class="q-chart__legend q-chart__legend--{{ legend.type }}">
  {%- for item in legend.legendItems %}
  <div class="q-chart__legend__item {% if item.isPrognosis %}q-chart__legend__item--prognosis s-color-gray-5{% endif %}">
    <div class="q-chart__legend__item__box" style="color: {{ item.color }};">
      {%- if legend.type === 'line' %}
        <svg width="12" height="12">
          <line x1="1" y1="11" x2="11" y2="1" />
        </svg>
      {%- endif %}
    </div>
    <div class="q-chart__legend__item__text s-font-note-s">{{ item.label }}</div>
  </div>
  {%- endfor %}
</div>
