@import "sass/settings";
@import "storytelling-ui-kit/font";

.ct-grid, line.ct-bar {
 shape-rendering: crispEdges;
}

.#{$ct-class-label} {
  @include font(label);
  &--number {
    @include font(label-digits);
  }
}

.#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
  text-anchor: middle;
  &.ct-horizontal--first {
    text-anchor: start;
  }
  &.ct-horizontal--last {
    text-anchor: end;
  }
}

.#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
  text-anchor: middle;
  &.ct-horizontal--first {
    text-anchor: start;
  }
  &.ct-horizontal--last {
    text-anchor: end;
  }
}

.#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
  text-anchor: end;
}

.#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
  text-anchor: start;
}

.#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
  text-anchor: middle;
}

.#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
  text-anchor: middle;
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
  text-anchor: middle;
  &.ct-horizontal--first {
    text-anchor: start;
  }
  &.ct-horizontal--last {
    text-anchor: end;
  }
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
  text-anchor: middle;
  &.ct-horizontal--first {
    text-anchor: start;
  }
  &.ct-horizontal--last {
    text-anchor: end;
  }
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
  text-anchor: end;
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
  text-anchor: end;
}

.#{$ct-class-grid} {
  @include ct-chart-grid($ct-grid-color, $ct-grid-width, $ct-grid-dasharray);
}

.#{$ct-class-point} {
  @include ct-chart-point($ct-point-size, $ct-point-shape);
}

.#{$ct-class-line} {
  @include ct-chart-line($ct-line-width);
}

.#{$ct-class-area} {
  @include ct-chart-area();
}

.#{$ct-class-bar} {
  @include ct-chart-bar($ct-bar-width);
}

.#{$ct-class-slice-donut} {
  @include ct-chart-donut($ct-donut-width);
}

.ct-chart-line--prognosis {
  stroke-dasharray: 6px 2px;
  stroke-dashoffset: -7px;
}

@for $i from 0 to length($ct-series-names) {

  .ct-chart-line {

    .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
      $color: nth($ct-series-colors, $i + 1);

      @include ct-chart-series-color($color);

    }

  }

  .ct-chart-bar {

    .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
      $color: nth($ct-series-colors, $i + 1);

      @include ct-chart-series-color($color);

    }

  }

  .highlighted .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} .ct-line.active {
    $color: nth($ct-series-colors, $i + 1);
    stroke: $color;
    stroke-width: 2px;
  }

  .highlighted .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
    $color: nth($ct-series-colors-brightened, $i + 1);
    stroke: $color;

    @include ct-chart-series-color($color);

    .ct-line {
      stroke-width: 1px;
    }

    .active {
      $color: nth($ct-series-colors, $i + 1);
      stroke: $color;
    }
  }
}


.ct-chart-line .ct-baseline {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}

.ct-chart-bar .ct-baseline {
  stroke: $primary-color;
  opacity: 1;
  stroke-width: 1px;
}
