@import 'q-nzzch-theme/settings';

@import "sass/settings";
@import "storytelling-ui-kit/clearfix";
@import "storytelling-ui-kit/font";
@import "storytelling-ui-kit/respond-to";

@import 'chartist@0.9.5/dist/scss/settings/chartist-settings';
$ct-include-classes: false;
@import 'chartist@0.9.5/dist/scss/chartist';

@import "sass/chartist_settings";
@import "sass/chartist_styles";

@import 'q-nzzch-theme/styles';


%label-element {
  @include font(label);
}

.q-chart {
  margin: 22px 0 22px 0;
  @include respond-to(large-up) {
    margin: 32px 0 32px 0;
  }
  box-sizing: border-box;
  *, *::after, *::before {
    box-sizing: inherit;
  }
  svg {
    overflow: visible;
  }
}

.q-chart__legend {
  @include clearfix;
  float: right;
  margin: 0 0 6px 0;
}

.q-chart__legend__item {
  @include clearfix;
  float: left;
  margin: 0 8px 0 0;

  &:last-child {
    margin-right: 0;
  }
}

.q-chart__legend__item__box {
  position: relative;
  bottom: -4px;
  margin: 0 4px 0 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
}

.q-chart__legend__item__text {
  @extend %label-element;
  float: left;
}

.q-chart__chartist-container {
  margin: 2px 0 0 0;
  @include respond-to(medium-up) {
    margin: 10px 0 0 0;
  }
}

.q-chart__label-x-axis {
  @extend %label-element;
  clear: both;
  color: $secondary-color;
  text-align: right;
  margin: 0 0 6px 0;
}

.q-chart__label-y-axis { 
  @extend %label-element;
  color: $secondary-color;
}

@for $i from 0 to length($ct-series-names) {
  .q-chart__legend__item--#{nth($ct-series-names, $i + 1)} {
    .q-chart__legend__item__box {
        $color: nth($ct-series-colors, $i + 1);
        background: $color;
    }
  }
}



