.ct-grid, line.ct-bar {
 shape-rendering: crispEdges;
}

.#{$ct-class-label} {
  fill: currentColor;
}

.#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
  text-anchor: middle;
  &.ct-horizontal--last {
    text-anchor: end;
  }
  &.ct-horizontal--first {
    text-anchor: start;
  }
}

.#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
  text-anchor: middle;
  &.ct-horizontal--last {
    text-anchor: end;
  }
  &.ct-horizontal--first {
    text-anchor: start;
  }
}

.#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
  text-anchor: end;
}

.#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
  text-anchor: start;
}

.#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
  text-anchor: middle;
}

.#{$ct-class-chart-bar} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
  text-anchor: middle;
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-start} {
  text-anchor: middle;
  &.ct-horizontal--last {
    text-anchor: end;
  }
  &.ct-horizontal--first {
    text-anchor: start;
  }
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-horizontal}.#{$ct-class-end} {
  text-anchor: middle;
  &.ct-horizontal--last {
    text-anchor: end;
  }
  &.ct-horizontal--first {
    text-anchor: start;
  }
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-start} {
  text-anchor: end;
}

.#{$ct-class-chart-bar}.#{$ct-class-horizontal-bars} .#{$ct-class-label}.#{$ct-class-vertical}.#{$ct-class-end} {
  text-anchor: end;
}

.#{$ct-class-grid} {
  @include ct-chart-grid($ct-grid-color, $ct-grid-width, $ct-grid-dasharray);
}

.#{$ct-class-point} {
  @include ct-chart-point($ct-point-size, $ct-point-shape);
}

.#{$ct-class-line} {
  @include ct-chart-line($ct-line-width);
}

.#{$ct-class-area} {
  @include ct-chart-area();
}

.#{$ct-class-bar} {
  @include ct-chart-bar($ct-bar-width);
}

.#{$ct-class-slice-donut} {
  @include ct-chart-donut($ct-donut-width);
}

.ct-chart-line--prognosis {
  stroke-dasharray: 6px 2px;
  stroke-dashoffset: -7px;
}

.ct-series .ct-point, .ct-series .ct-line, .ct-series .ct-bar, .ct-series .ct-slice-donut {
  stroke: currentColor;
}

.ct-series .ct-slice-pie, .ct-series .ct-area {
  fill: currentColor;
}

.ct-contains-highlighted {
  .ct-line {
    stroke-width: 1px;
  }
}

.ct-contains-highlighted .ct-line.ct-highlighted {
  stroke-width: 2px;
}


.ct-chart-line .ct-baseline {
  stroke: currentColor;
  opacity: 1;
  stroke-width: 1px;
}

.ct-chart-bar .ct-baseline {
  stroke: currentColor;
  opacity: 1;
  stroke-width: 1px;
}
