.q-chart {
  opacity: 1 !important;

  svg {
    overflow: visible;
  }
}

.q-chart-events {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
}

.q-chart-events__icon {
  height: 18px;
  width: 18px;
  margin-right: 4px;
}

.q-chart-events__label {
  display: flex;
  align-items: center;
}
