@import "storytelling-ui-kit/clearfix";
@import "sass/chartist_settings";
@import "sass/chartist_styles";
@import 'chartist@0.9.4/dist/scss/chartist';

%label-element {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #333;
  font-size: 11px;
  line-height: 16px;
  @media screen and (min-width: 414px) {
    font-size: 13px;
    line-height: 19px;
  }
}

.q-chart {

}

.q-chart__title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #333;
  font-size: 15px;
  line-height: 22px;
  margin: 0 0 8px 0;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.q-chart__legend {
  @include clearfix;
}

.q-chart__legend__item {
  float: left;
  @include clearfix;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.q-chart__legend__item__box {
  width: 16px;
  height: 16px;
  float: left;
}

.q-chart__legend__item__text {
  @extend %label-element;
  float: left;
}

.q-chart__chartist-container {

}

.q-chart__label-x-axis {
  @extend %label-element;
  text-align: right;
}

.q-chart__label-y-axis {
  
  @extend %label-element;
}

.q-chart__footer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #787878;
  font-size: 11px;
  line-height: 16px;
  @media screen and (min-width: 414px) {
    font-size: 13px;
    line-height: 19px;
  }

  @include clearfix;

  .q-chart__footer__notes, .q-chart__footer__sources {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@for $i from 0 to length($ct-series-names) {
  .q-chart__legend__item--#{nth($ct-series-names, $i + 1)} {
    .q-chart__legend__item__box {
      $color: nth($ct-series-colors, $i + 1);
      background: $color;
    }
  }
}
